body
{
    background-size: cover;
}
.bed_room
{
    border-radius: 20px;
}
.tv_and_ac
{
    border-radius: 20px;
}
.desk
{
    border-radius: 20px;
}
.fruit_basket
{
    border-radius: 20px;
}
.bottles
{
    border-radius: 20px;
}